export EXPO_ROUTER_APP_ROOT="../../src/routes"
export SUPABASE_URL="https://zehsendkvhfeynhvfusw.supabase.co"
export SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InplaHNlbmRrdmhmZXluaHZmdXN3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2NjYyMjI1NjksImV4cCI6MTk4MTc5ODU2OX0.H5GyAdEOrKXVK3XuucSMCC3e-3xY1ckhrboM1I6HPVg"